<div class="grid sm:grid-cols-2 gap-2">
  <div class="year-select flex justify-end col-span-full gap-2">
    {{#if this.allowTransfer}}
      <button
        type="button"
        class="btn btn-success"
        {{on "click" (perform this.transfer)}}
      >Transfer</button>
    {{/if}}

    {{#let this.years.lastSuccessful.value as |years|}}
      <label for="credit-year-select" hidden>
        Select year
      </label>
      <select
        id="credit-year-select"
        class="form-control rounded sm:!w-auto"
        {{on "change" (pick "target.value" this.fetchData)}}
      >
        {{#each years as |y|}}
          <option value={{y}} selected={{eq y this.year}}>{{y}}</option>
        {{/each}}
        <option value="" selected={{not this.year}}>All</option>
      </select>
    {{/let}}
  </div>

  <Card
    class="grid grid-rows-[min-content,1fr,min-content]"
    data-test-absence-credits
  >
    <Card::Header><h4>Absence credits</h4></Card::Header>
    {{#let (can "create absence-credit") as |canCreate|}}
      <Card::Block>
        {{#if this.absenceCredits.isRunning}}
          <Empty>
            <LoadingIcon />
          </Empty>
        {{else}}
          {{#let this.absenceCredits.lastSuccessful.value as |absenceCredits|}}
            {{#if absenceCredits}}
              <Table class="table table--striped">
                <Table::Thead>
                  <Table::Tr>
                    <Table::Th>Valid as of</Table::Th>
                    <Table::Th>Days</Table::Th>
                    <Table::Th>Type</Table::Th>
                    <Table::Th>Comment</Table::Th>
                  </Table::Tr>
                </Table::Thead>
                <tbody>
                  {{#each absenceCredits as |absenceCredit|}}
                    <Table::Tr
                      @striped={{true}}
                      @hover={{can "edit absence-credit"}}
                      @last={{true}}
                      role="link"
                      {{on
                        "click"
                        (perform this.editAbsenceCredit absenceCredit.id)
                      }}
                    >
                      <Table::Td>{{moment-format
                          absenceCredit.date
                          "DD.MM.YYYY"
                        }}</Table::Td>
                      <Table::Td>{{absenceCredit.days}}</Table::Td>
                      <Table::Td>{{absenceCredit.absenceType.name}}</Table::Td>
                      <Table::Td>{{absenceCredit.comment}}</Table::Td>
                    </Table::Tr>
                  {{/each}}
                </tbody>
              </Table>
            {{else}}
              <Empty>
                <FaIcon @icon="calendar-plus" />
                <p>
                  No absence credits found...</p>
                {{#if canCreate}}
                  <p>Add a new credit by clicking the button below!</p>
                {{/if}}
              </Empty>
            {{/if}}

          {{/let}}
        {{/if}}
      </Card::Block>
      <Card::Footer>
        {{#if canCreate}}
          <LinkTo
            @route="users.edit.credits.absence-credits.new"
            class="btn btn-primary block w-min whitespace-nowrap"
          >Add new credit</LinkTo>
        {{/if}}
      </Card::Footer>
    {{/let}}
  </Card>

  <Card data-test-overtime-credits>
    {{#let (can "create overtime-credit") as |canCreate|}}
      <Card::Header><h4>Overtime credits</h4></Card::Header>
      {{#if this.overtimeCredits.isRunning}}
        <Empty>
          <LoadingIcon />
        </Empty>
      {{else}}
        {{#let this.overtimeCredits.lastSuccessful.value as |overtimeCredits|}}
          <Card::Block>
            {{#if overtimeCredits}}
              <Table class="table table--striped">
                <Table::Thead>
                  <Table::Tr>
                    <Table::Th>Valid as of</Table::Th>
                    <Table::Th>Duration</Table::Th>
                    <Table::Th>Comment</Table::Th>
                  </Table::Tr>
                </Table::Thead>
                <tbody>
                  {{#each overtimeCredits as |overtimeCredit|}}
                    <Table::Tr
                      @striped={{true}}
                      @hover={{can "edit overtime-credit"}}
                      @last={{true}}
                      role="link"
                      {{on
                        "click"
                        (perform this.editOvertimeCredit overtimeCredit.id)
                      }}
                    >
                      <Table::Td>{{moment-format
                          overtimeCredit.date
                          "DD.MM.YYYY"
                        }}</Table::Td>
                      <Table::Td>{{humanize-duration
                          overtimeCredit.duration
                          false
                        }}</Table::Td>
                      <Table::Td>{{overtimeCredit.comment}}</Table::Td>
                    </Table::Tr>
                  {{/each}}
                </tbody>
              </Table>
              {{#if (can "create overtime-credit")}}{{/if}}
            {{else}}
              <Empty>
                <FaIcon @icon="clock" />
                <p>
                  No overtime credits found...</p>

                {{#if canCreate}}
                  <p>Add a new credit by clicking the button below!</p>
                {{/if}}
              </Empty>
            {{/if}}
          </Card::Block>
        {{/let}}
      {{/if}}
      <Card::Footer>
        {{#if canCreate}}
          <LinkTo
            @route="users.edit.credits.overtime-credits.new"
            class="btn btn-primary w-min whitespace-nowrap"
          >Add new credit</LinkTo>
        {{/if}}

      </Card::Footer>
    {{/let}}
  </Card>
</div>