<div ...attributes>
  <input
    type="checkbox"
    class="rounded"
    id={{this.checkboxElementId}}
    checked={{@checked}}
    disabled={{@disabled}}
    indeterminate={{eq @checked null}}
    {{on "change" (pick "target.checked" (optional @onChange))}}
  />
  <label for={{this.checkboxElementId}} title={{@title}}>
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{#if @label}}
        {{@label}}
      {{else}}
        &nbsp;
      {{/if}}
    {{/if}}
  </label>
</div>