<Modal
  @visible={{@isVisible}}
  @onClose={{@onClose}}
  data-test-magic-link-modal
  class="md:w-auto"
  as |modal|
>
  <div class="magic-link-modal sm:min-w-[32rem]" data-test-magic-link-form>
    <modal.header>
      <h3>Create a magic link</h3>
    </modal.header>
    <modal.body class="grid gap-2" data-test-task-selector>
      <TaskSelection
        @disabled={{false}}
        @task={{this.task}}
        @on-set-task={{this.onSetTask}}
        as |t|
      >
        <t.customer @dropdownClass="z-[60]" />
        <t.project @dropdownClass="z-[60]" />
        <t.task @dropdownClass="z-[60]" />
      </TaskSelection>

      <input
        value={{this.comment}}
        type="text"
        {{on "change" (pick "target.value" (fn (mut this.comment)))}}
        class="ember-text-field form-control rounded"
        placeholder="Comment"
        aria-label="Comment for the timed entry"
        data-test-magic-link-comment
      />

      <div class="flex">
        <DurationpickerDay
          @disabled={{false}}
          @value={{this.duration}}
          @onChange={{fn (mut this.duration)}}
          @title="Task duration"
          data-test-magic-link-duration
          class="flex-grow"
        />
        <Toggle
          class="margin-small-right form-control flex-shrink"
          data-test-magic-link-review
          @hint="Needs review"
          @onToggle={{toggle "review" this}}
          @value={{this.review}}
        >
          <span class="fa-layers fa-fw">
            <FaIcon @icon="user" />
            <FaIcon
              @icon="question"
              @prefix="fas"
              @transform="shrink-6 up-7 right-8"
            />
          </span>
        </Toggle>
        <Toggle
          class="form-control flex-shrink"
          data-test-magic-link-not-billable
          @hint="Not billable"
          @onToggle={{toggle "notBillable" this}}
          @value={{this.notBillable}}
        >
          <span class="fa-layers fa-fw">
            <FaIcon @icon="dollar-sign" @prefix="fas" />
            <FaIcon @icon="slash" @prefix="fas" />
          </span>
        </Toggle>
      </div>

      <input
        value={{this.magicLinkString}}
        disabled={{true}}
        type="url"
        class="form-control mt-2 flex-grow rounded"
        aria-label="magic link string"
        data-test-magic-link-string
      />
    </modal.body>
    <modal.footer class="flex justify-end gap-2">
      <button
        class="btn btn-success"
        {{on "click" this.createReport}}
        disabled={{not this.task}}
        type="button"
        data-test-create-magic-link-report
      >
        Create report
      </button>
      <button
        class="btn btn-primary"
        {{on "click" this.copyToClipboard}}
        disabled={{not this.task}}
        type="button"
        data-test-create-magic-link-btn
      >
        Copy to clippy
      </button>
    </modal.footer>
  </div>
</Modal>
