<button
  type="button"
  data-test-magic-link-btn
  title="Create a magic link"
  class="btn btn-default"
  {{on "click" this.toggleModal}}
  ...attributes
>
  <FaIcon @icon="bolt" @prefix="fas" @size="sm" />
  {{#if this.isModalVisible}}
    <MagicLinkModal
      @isVisible={{this.isModalVisible}}
      @onClose={{this.closeModal}}
      @task={{@task}}
      @duration={{@duration}}
      @comment={{@comment}}
      @review={{@review}}
      @notBillable={{@notBillable}}
    />
  {{/if}}
</button>
