{{#if (can "read user" this.model)}}
  <header class="user-header grid border-b">
    <div class="user-header-info">
      <h1
        class="text-foreground text-center text-5xl md:text-6xl"
      >{{this.model.fullName}}</h1>
    </div>

    {{#if this.data.isRunning}}
      <div
        class="user-header-loading grid w-full place-items-center place-self-center"
      >
        <LoadingIcon />
      </div>
    {{else}}
      {{#unless this.model.activeEmployment.isExternal}}
        <h2
          class="user-header-worktime-balance-title text-foreground-muted text-center text-2xl uppercase md:text-3xl"
        >Worktime balance</h2>

        <div
          class="user-header-worktime-balance-container mb-5 grid w-full max-w-[48rem] grid-cols-2 place-self-center px-8 sm:px-16 md:grid-cols-[minmax(0,0.9fr),minmax(0,2.2fr),minmax(0,0.9fr)] md:px-0 lg:w-3/4 lg:grid-cols-[auto,minmax(0,0.8fr),auto] lg:gap-2 xl:max-w-[52rem]"
        >
          <div
            class="user-header-worktime-balance-last-valid-timesheet w-full self-center justify-self-end text-center max-md:px-2 max-md:text-left md:-translate-y-4"
          >
            {{#let
              this.data.lastSuccessful.value.worktimeBalanceLastValidTimesheet
              as |balance|
            }}
              <h2
                title="Last day with timesheet entries or absences"
                class="text-foreground-muted text-base uppercase sm:text-lg md:text-xl lg:text-2xl"
              >
                {{moment-format balance.date "DD.MM.YYYY"}}
              </h2>
              <div
                class="{{balance-highlight-class balance.balance}}
                  text-xl sm:text-2xl md:text-3xl lg:text-4xl"
              >
                {{format-duration balance.balance false}}
              </div>
            {{/let}}
          </div>

          {{#if (media "isMd")}}
            <div class="user-header-worktime-balance">
              <WorktimeBalanceChart
                @worktimeBalances={{this.data.lastSuccessful.value.worktimeBalances}}
              />
            </div>
          {{/if}}

          <div
            class="user-header-worktime-balance-today w-full self-center justify-self-start text-center max-md:px-2 max-md:text-right md:-translate-y-4"
          >
            {{#let
              this.data.lastSuccessful.value.worktimeBalanceToday
              as |balance|
            }}
              <h2
                class="text-foreground-muted text-base uppercase sm:text-lg md:text-xl lg:text-2xl"
              >Today</h2>
              <div
                class="{{balance-highlight-class balance.balance}}
                  text-xl sm:text-2xl md:text-3xl lg:text-4xl"
              >
                {{format-duration balance.balance false}}
              </div>
            {{/let}}
          </div>

          {{#unless (media "isMd")}}
            <div class="user-header-worktime-balance col-span-2">
              <WorktimeBalanceChart
                @worktimeBalances={{this.data.lastSuccessful.value.worktimeBalances}}
              />
            </div>
          {{/unless}}
        </div>

        <div
          class="user-header-absence-balance-container mb-2 flex w-full max-w-[48rem] flex-row flex-wrap justify-around place-self-center transition-[padding,max-width] transition-all md:justify-between md:px-8 lg:px-9 xl:max-w-[52rem] xl:px-10"
        >
          {{#let this.data.lastSuccessful.value.absenceBalances as |balances|}}
            {{#each balances as |balance index|}}
              <BalanceDonut
                @balance={{balance}}
                @class="user-header-absence-balance"
                @title={{balance.absenceType.name}}
                @index={{index}}
                @count={{balances.length}}
              />
            {{/each}}
          {{/let}}
        </div>
      {{/unless}}
    {{/if}}

  </header>

  <nav class="user-navigation border-b shadow-sm">
    <ul
      class="[&>li>a]:text-foreground-muted [&>li>a.active]:text-primary [&>li>a.active]:shadow-primary grid grid-cols-[repeat(3,auto)] justify-center text-xl [&>li>a.active]:shadow-[inset_0_-2px_0] [&>li>a]:block [&>li>a]:px-6 [&>li>a]:py-2"
    >
      <li><LinkTo
          @route="users.edit.index"
          @model={{this.model.id}}
        >General</LinkTo></li>
      <li><LinkTo
          @route="users.edit.credits"
          @model={{this.model.id}}
        >Credits</LinkTo></li>
      <li><LinkTo
          @route="users.edit.responsibilities"
          @model={{this.model.id}}
        >Responsibilities</LinkTo></li>
    </ul>
  </nav>

  <section class="user-content pt-1 md:pt-2 lg:pt-3">
    {{outlet}}
  </section>
{{else}}
  <NoPermission />
{{/if}}