<nav
  class="z-50 md:px-2 fixed w-full flex top-0 left-0 bg-adfinis-grey flex-col md:flex-row md:px-6
    {{if (and this.expand this.navMobile) 'nav-top--expand'}}"
>
  <header class="flex justify-between">
    <button
      class="md:hidden px-2 w-14"
      type="button"
      {{on "click" (toggle "expand" this)}}
    >
      <span class="nav-toggle-icon"></span>
    </button>
    <LinkTo @route="index" class="grid place-items-center md:grid-cols-2">
      <TimedClock />
      <div
        class="max-md:hidden font-medium mr-1 self-center text-lg text-black/80"
      >
        Timed
        <div class="text-xs text-adfinis-darkgrey/80">
          v{{app-version versionOnly=true showExtended=true}}
        </div>
      </div>
    </LinkTo>
  </header>
  <section
    class="w-full md:w-auto md:flex md:flex-row md:flex-grow md:max-h-full transition-[max-height]
      {{if
        (and this.expand this.navMobile)
        'block max-h-96 h-full overflow-y-auto'
        'max-h-0 duration-0 overflow-hidden'
      }}"
  >
    <ul class="flex flex-col md:flex-row h-full">
      <li class="nav-top-list-item max-md:w-full text-red-500">
        <LinkTo @route="index">
          <FaIcon @icon="clock" @size="lg" />
          <span>Tracking</span>
        </LinkTo>
      </li>
      {{#unless this.navMobile}}
        {{#if (can "access page")}}
          <li class="nav-top-list-item">
            <LinkTo @route="analysis">
              <FaIcon @icon="chart-line" @prefix="fas" />
              Analysis
            </LinkTo>
          </li>
          <li class="nav-top-list-item">
            <LinkTo @route="statistics">
              <FaIcon @icon="chart-bar" />
              Statistics
            </LinkTo>
          </li>
          <li class="nav-top-list-item">
            <LinkTo @route="projects">
              <FaIcon @icon="briefcase" @prefix="fas" />
              Projects
            </LinkTo>
          </li>
        {{/if}}
      {{/unless}}
      {{#if this.currentUser.user.isSuperuser}}
        <li class="nav-top-list-item">
          <LinkTo @route="users.index">
            <FaIcon @icon="users" @prefix="fas" />
            Users
          </LinkTo>
        </li>
      {{/if}}
    </ul>
    <ul class="md:border-t-0 md:ml-auto flex md:flex-row flex-col h-full">
      <ReportReviewWarning />
      <li class="nav-top-list-item">
        <LinkTo @route="users.edit" @model={{this.currentUser.user.id}}>
          <FaIcon @icon="user" />
          {{this.currentUser.user.fullName}}
        </LinkTo>
      </li>
      <li class="nav-top-list-item">
        <a href="#" data-test-logout {{on "click" (optional @onLogout)}}>
          <FaIcon @icon="power-off" @prefix="fas" />
          Logout
        </a>
      </li>
    </ul>
  </section>
</nav>