<div
  title={{this.title}}
  role="button"
  {{on "click" this.click}}
  {{style this.style}}
  class="weekly-overview-day h-0 w-4 relative cursor-pointer transition-all group z-10
    {{if @active 'active'}}
    {{if @absence 'absence'}}
    {{if @holiday 'holiday'}}
    {{unless @workday 'weekend'}}
    "
  ...attributes
>
  <div
    class="bar w-full h-full transition-all group-[.active]:bg-adfinis-blue group-[.absence]:bg-warning group-[:where(.holiday,.weekend)]:bg-gray-200 bg-adfinis-darkgrey"
  ></div>
  <div
    class="day absolute text-xs -translate-x-1/2 left-1/2 -bottom-8 transition-all group-[.active]:text-adfinis-blue group-[.absence]:text-warning group-[:where(.holiday,.weekend)]:text-adfinis-darkgrey/40 text-center"
  >
    {{moment-format @day "DD"}}
    {{moment-format @day "dd"}}
  </div>
</div>