<button
  title={{this.title}}
  type="button"
  {{on "click" this.click}}
  {{style this.style}}
  class="weekly-overview-day h-0 w-4 relative cursor-pointer z-10 [&>*]:transition-colors
    {{if @active 'active'}}
    {{if @absence 'absence'}}
    {{if @holiday 'holiday'}}
    {{unless @workday 'weekend'}}
    {{if
      @absence
      'text-overview-absence hover:text-overview-absence-hf focus:text-overview-absence-hf [&.active]:text-overview-absence-active'
      (or
        (if
          @workday
          'text-overview-workday hover:text-overview-workday-hf focus:text-overview-workday-hf [&.active]:text-overview-workday-active'
        )
        'text-overview-weekend hover:text-overview-weekend-hf focus:text-overview-weekend-hf [&.active]:text-overview-weekend-active'
      )
    }}
    "
  ...attributes
>
  <div class="bar w-full h-full bg-current"></div>
  <div
    class="day absolute text-sm leading-4 text-center -translate-x-1/2 left-1/2 -bottom-[2.5em] font-medium"
  >
    {{moment-format @day "DD"}}
    {{moment-format @day "dd"}}
  </div>
</button>