<button
  title={{this.title}}
  type="button"
  {{on "click" this.click}}
  {{style this.style}}
  class="weekly-overview-day h-0 w-4 relative cursor-pointer z-10 [&>*]:transition-colors
    {{if @active 'active'}}
    {{if @absence 'absence'}}
    {{if @holiday 'holiday'}}
    {{unless @workday 'weekend'}}
    {{if
      @absence
      'text-[color-mix(in_srgb,rgb(var(--warning))_var(--percent),rgb(var(--white)))] hover:[--percent:80%] focus:[--percent:80%] [--percent:60%] [&.active]:[--percent:100%]'
      (or
        (if
          @workday
          'text-[color-mix(in_srgb,rgb(var(--primary))_var(--percent),rgb(var(--background)))] hover:[--percent:90%] focus:[--percent:90%] [--percent:50%] [&.active]:[--percent:100%]'
        )
        'text-[color-mix(in_srgb,rgb(var(--background))_var(--percent),color-mix(in_srgb,rgb(var(--foreground)),rgb(var(--foreground-muted))))] [--percent:70%] focus:[--percent:50%] hover:[--percent:50%] [&.active]:[--percent:20%]'
      )
    }}
    "
  ...attributes
>
  <div class="bar w-full h-full bg-current"></div>
  <div
    class="day absolute text-sm leading-4 text-center -translate-x-1/2 left-1/2 -bottom-[2.5em] font-medium"
  >
    {{moment-format @day "DD"}}
    {{moment-format @day "dd"}}
  </div>
</button>