<div
  title="{{@option.name}}{{if @option.archived ' (archived)'}}"
  class="{{if @option.archived 'inactive'}} flex justify-between items-center"
  id="task-option-{{@option.id}}"
>
  {{#if (and @current (media "isMd"))}}
    <ProgressTooltip
      @target={{concat "#task-option-" @option.id}}
      @visible={{@current}}
      @model={{@option}}
    />
  {{/if}}
  {{@option.name}}
  {{#if @option.archived}}
    <FaIcon @icon="archive" @prefix="fas" />
  {{/if}}
</div>