<NavTabs::LowerButton data-test-add-attendance @onClick={{this.addAttendance}}>Add
  attendance
</NavTabs::LowerButton>

<div class="attendances grid gap-6">
  {{#if this.attendances}}
    {{#if (or (media "isXl") (media "isLg") (media "isMd"))}}
      <div class="max-sm:hidden">
        {{#each this.attendances as |attendance|}}
          <AttendanceSlider
            data-test-attendance-slider
            data-test-attendance-slider-id={{attendance.id}}
            @attendance={{changeset attendance this.AttendanceValidator}}
            @onSave={{queue this.validateChangeset this.saveAttendance}}
            @onDelete={{this.deleteAttendance}}
          />
        {{/each}}
      </div>
    {{else}}
      <div class="sm:hidden">
        <table class="table table--striped table--attendances">
          <tbody>
            {{#each this.attendances as |attendance|}}
              {{#let
                (changeset attendance this.AttendanceValidator)
                as |model|
              }}
                <tr
                  data-test-attendance-slider
                  data-test-attendance-slider-id={{attendance.id}}
                >
                  <td class="form-group {{if model.error.from 'has-error'}}">
                    <Timepicker
                      @value={{model.from}}
                      @onChange={{fn (mut model.from)}}
                      @max={{model.to}}
                      @onFocusOut={{fn this.validateChangeset model}}
                    />
                  </td>
                  <td class="form-group {{if model.error.to 'has-error'}}">
                    <Timepicker
                      @value={{model.to}}
                      @onChange={{fn (mut model.to)}}
                      @min={{model.from}}
                      @onFocusOut={{fn this.validateChangeset model}}
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger"
                      {{on "click" (fn this.deleteAttendance model)}}
                    ><FaIcon @icon="trash-can" /></button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      disabled={{not (and model.isDirty model.isValid)}}
                      {{on "click" (fn this.saveAttendance model)}}
                    ><FaIcon @icon="floppy-disk" /></button>
                  </td>
                </tr>
              {{/let}}
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  {{else}}
    <div class="text-center"><em>No attendances yet</em></div>
  {{/if}}
  <div class="text-center">
    <br />
  </div>
</div>