<NavTabs::LowerButton
  title="Move all entries to another date"
  id="reschedule"
  data-test-report-reschedule
  @onClick={{fn (mut this.showReschedule) true}}
>Reschedule
</NavTabs::LowerButton>

<div class="reports">
  {{#each this.reports as |report|}}
    <ReportRow
      class="striped border-t last:border-b"
      @report={{report}}
      @onSave={{this.saveReport}}
      @onDelete={{this.deleteReport}}
      data-test-report-row-id={{report.id}}
      data-test-report-row
    />
  {{/each}}
</div>

<Modal
  @visible={{this.showReschedule}}
  @onClose={{toggle "showReschedule" this}}
  class="!w-fit md:w-96"
  as |modal|
>
  <modal.header>
    <h3>Reschedule timesheet</h3>
  </modal.header>
  <modal.body>
    <PowerCalendar
      class="calendar [--size:2.5rem] sm:[--size:2.75rem] md:[--size:3rem] lg:[--size:3.25rem]"
      @center={{this.center}}
      @selected={{this.rescheduleDate}}
      @onCenterChange={{pick "moment" (fn (mut this.center))}}
      @onSelect={{pick "moment" (fn (mut this.rescheduleDate))}}
      as |calendar|
    >
      <div class={{if calendar.loading "loading-mask"}}>
        {{calendar.Nav}}
        <calendar.Days
          @disabledDates={{this.disabledDates}}
          @startOfWeek={{1}}
        />
      </div>
    </PowerCalendar>
  </modal.body>
  <modal.footer class="flex justify-between">
    <button
      type="reset"
      class="btn btn-default"
      data-test-reschedule-cancel
      {{on "click" (toggle "showReschedule" this)}}
    >Cancel</button>
    <button
      type="submit"
      class="btn btn-primary"
      data-test-report-save
      {{on "click" (prevent-default (fn this.reschedule this.rescheduleDate))}}
    >Save</button>
  </modal.footer>
</Modal>
