<div
  ...attributes
  class="sy-toggle
    {{if @value 'active text-primary/85' 'inactive text-adfinis-darkgrey'}}
    text-xl p-1 mx-0.5 stroke-slate-600 grid place-self-center"
  title={{concat @hint (if @disabled " (disabled)")}}
  tabindex="0"
  role="link"
  {{on "click" (optional (unless @disabled @onToggle))}}
  {{on "keyup" this.handleKeyUp}}
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <FaIcon @icon={{@icon}} @fixedWidth={{true}} @size={{or @size "1x"}} />
  {{/if}}
</div>