{{#let (changeset @report this.ReportValidations) as |cs|}}
  <form
    ...attributes
    class="grid {{cs.task.project.remainingEffortTracking 'grid-cols-4' 'grid-cols-3'}} max-lg:[&>*]:w-full lg:grid-cols-[repeat(3,minmax(0,0.9fr)),minmax(0,1.6fr),minmax(2rem,0.6fr),minmax(2rem,0.7fr),repeat(2,minmax(2rem,0.8fr))] gap-2 p-1 lg:p-1.5 lg:p-2 xl:p-2.5"
    title={{this.title}}
    {{on "submit" (prevent-default (perform this.save cs))}}
  >
    <TaskSelection
      @disabled={{not this.editable}}
      @task={{cs.task}}
      @on-set-task={{fn this.updateTask cs}}
      as |t|
    >
      <div
        class="form-list-cell form-group max-lg:col-span-3 {{if cs.error.task 'has-error'}}"
      >{{t.customer}}</div>
      <div
        class="form-list-cell form-group max-lg:col-span-3 {{if cs.error.task 'has-error'}}"
      >{{t.project}}</div>
      <div
        class="form-list-cell form-group max-lg:col-span-3 {{if cs.error.task 'has-error'}}"
      >{{t.task}}</div>
    </TaskSelection>

    <div class="form-list-cell form-group max-lg:col-span-3">
      <label for="row-comment" hidden>Comment</label>
      <input
        type="text"
        class="form-control comment-field rounded"
        placeholder="Comment"
        name="comment"
        id="row-comment"
        value={{cs.comment}}
        disabled={{not this.editable}}
        spellcheck="true"
        {{on "change" (pick "target.value" (fn (mut cs.comment)))}}
        data-test-report-comment
      />
      {{#if cs.task.project.customerVisible}}
        <CustomerVisibleIcon class="customer-visible-icon" />
      {{/if}}
    </div>
    <div class="form-list-cell form-group cell-duration">
      <DurationpickerDay
        data-test-report-duration
        @disabled={{not this.editable}}
        @value={{cs.duration}}
        @onChange={{fn (mut cs.duration)}}
        @title="Task duration"
      />
    </div>
    <div class="form-list-cell form-group cell-remaining-effort {{unless cs.task.project.remainingEffortTracking 'max-lg:hidden [&>*]:hidden'}}">
      {{#if cs.task.project.remainingEffortTracking}}
        <Durationpicker
          data-test-report-remaining-effort
          class="remaining-effort"
          @disabled={{not this.editable}}
          @value={{cs.remainingEffort}}
          @onChange={{fn (mut cs.remainingEffort)}}
          @title="Remaining estimated effort"
        />
      {{/if}}
    </div>

    <div
      class="form-list-cell form-group cell-review-billable-icons grid content-between grid-cols-2 self-center gap-1"
    >
      <Toggle
        class="margin-small-right form-control"
        data-test-report-review
        @disabled={{not this.editable}}
        @hint="Needs review"
        @onToggle={{toggle "review" cs}}
        @value={{cs.review}}
      >
        <span class="fa-layers fa-fw">
          <FaIcon @icon="user" />
          <FaIcon
            @icon="question"
            @prefix="fas"
            @transform="shrink-6 up-7 right-8"
          />
        </span>
      </Toggle>
      <Toggle
        class="form-control"
        data-test-report-not-billable
        @disabled={{not this.editable}}
        @hint="Not billable"
        @onToggle={{toggle "notBillable" cs}}
        @value={{cs.notBillable}}
      >
        <span class="fa-layers fa-fw">
          <FaIcon @icon="dollar-sign" @prefix="fas" />
          <FaIcon @icon="slash" @prefix="fas" />
        </span>
      </Toggle>
    </div>
    <div
      class="form-list-cell form-group cell-buttons grid content-between self-center gap-1 grid-cols-2"
    >
      {{#if this.editable}}
        <button
          type="button"
          data-test-delete-report
          class="btn btn-danger"
          disabled={{this.report.verifiedBy.id}}
          {{on "click" (fn (optional @onDelete) @report)}}
        ><FaIcon @icon="trash-can" /></button>
        <button
          type="submit"
          data-test-save-report
          class="btn btn-primary"
          disabled={{or
            this.save.isRunning
            (and (not cs.isNew) (or (not cs.isDirty) (not cs.isValid)))
          }}
        ><FaIcon @icon="floppy-disk" /></button>
      {{/if}}
    </div>
  </form>
{{/let}}