<div class="grid-rows-min grid gap-2 md:grid-cols-2 lg:grid-cols-3 [&>*]:h-min">

  <Card>
    <Card::Header><h4>General information</h4></Card::Header>
    <Card::Block>
      <Table class="user-general-info">
        <tbody class="[&>tr>td:last-child]:text-right [&>tr>td]:py-1">
          <tr>
            <td>Email:</td>
            <td>{{this.model.email}}</td>
          </tr>
          <tr>
            <td>Username:</td>
            <td>{{this.model.username}}</td>
          </tr>
          {{#if this.model.activeEmployment}}
            <tr>
              <td>Location:</td>
              <td>{{this.model.activeEmployment.location.name}}</td>
            </tr>
            <tr>
              <td>Contract type:</td>
              <td>{{if
                  this.model.activeEmployment.isExternal
                  "External"
                  "Internal"
                }}</td>
            </tr>
            <tr>
              <td>Percentage:</td>
              <td>{{this.model.activeEmployment.percentage}}%</td>
            </tr>
            <tr>
              <td>Worktime:</td>
              <td>{{humanize-duration
                  this.model.activeEmployment.worktimePerDay
                  false
                }}</td>
            </tr>
          {{/if}}
        </tbody>
      </Table>
    </Card::Block>
    <Card::Footer />
  </Card>

  <Card>
    <Card::Header><h4>Employments</h4></Card::Header>
    <Card::Block>
      {{#if this.employments.isRunning}}
        <Empty>
          <LoadingIcon />
        </Empty>
      {{else}}
        {{#let this.employments.lastSuccessful.value as |employments|}}
          {{#if employments}}
            <Table class="table--striped table">
              <Table::Thead>
                <Table::Tr>
                  <Table::Th>Location</Table::Th>
                  <Table::Th>Percentage</Table::Th>
                  <Table::Th>Start</Table::Th>
                  <Table::Th>End</Table::Th>
                </Table::Tr>
              </Table::Thead>
              <tbody>
                {{#each employments as |employment|}}
                  <Table::Tr @striped={{true}} @last={{true}}>
                    <Table::Td>{{employment.location.name}}</Table::Td>
                    <Table::Td>{{employment.percentage}}%</Table::Td>
                    <Table::Td>{{moment-format
                        employment.start
                        "DD.MM.YYYY"
                      }}</Table::Td>
                    <Table::Td>{{if
                        employment.end
                        (moment-format employment.end "DD.MM.YYYY")
                        "-"
                      }}</Table::Td>
                  </Table::Tr>
                {{/each}}
              </tbody>
            </Table>
          {{else}}
            <Empty class="card-block">
              <FaIcon @icon="briefcase" @prefix="fas" />
              <p>
                No employments found...
              </p>
            </Empty>
          {{/if}}
        {{/let}}
      {{/if}}
    </Card::Block>
    <Card::Footer />
  </Card>

  <Card>
    <Card::Header><h4>Absences</h4></Card::Header>
    <Card::Block>
      {{#if this.absences.isRunning}}
        <Empty>
          <LoadingIcon />
        </Empty>
      {{else}}
        {{#let this.absences.lastSuccessful.value as |absences|}}
          {{#if absences}}
            <Table class="table--striped table">
              <Table::Thead>
                <Table::Tr class="text-left [&>*]:p-2">
                  <Table::Th>Type</Table::Th>
                  <Table::Th>Date</Table::Th>
                  <Table::Th>Comment</Table::Th>
                </Table::Tr>
              </Table::Thead>
              <tbody>
                {{#each absences as |absence|}}
                  <Table::Tr @striped={{true}} @last={{true}}>
                    <Table::Td>{{absence.absenceType.name}}</Table::Td>
                    <Table::Td>{{moment-format
                        absence.date
                        "DD.MM.YYYY"
                      }}</Table::Td>
                    <Table::Td>{{absence.comment}}</Table::Td>
                  </Table::Tr>
                {{/each}}
              </tbody>
            </Table>
          {{else}}
            <Empty class="card-block">
              <FaIcon @icon="calendar-xmark" />
              <p>
                No absences found...
              </p>
            </Empty>
          {{/if}}
        {{/let}}
      {{/if}}
    </Card::Block>
    <Card::Footer />
  </Card>
</div>