<main class="page-main relative">
  {{#if this.loading}}<span class="loader"></span>{{/if}}
  <SyTopnav @onLogout={{this.invalidateSession}} />
  <div
    class="page-content page-content--scroll flex flex-grow px-2 py-1 lg:px-3.5 lg:py-1.5 xl:px-4 xl:py-2 scroll-smooth h-screen overflow-auto bg-white min-h-screen flex-col"
  >

    {{outlet}}
  </div>
</main>

<WelcomeModal
  @visible={{this.visible}}
  @onNever={{this.neverTour}}
  @onLater={{this.laterTour}}
  @onStart={{this.startTour}}
/>