<h1>Users</h1>

<FilterSidebar @onReset={{perform this.resetFilter}} as |fs|>
  <fs.group @label="General" @expanded={{true}}>
    <fs.label>
      Search
      <fs.filter
        @type="search"
        data-test-filter-search="true"
        @selected={{this.search}}
        @onChange={{perform this.setSearchFilter}}
      />
    </fs.label>
    {{#if this.currentUser.user.isSuperuser}}
      <fs.label>
        Supervisor
        <fs.filter data-test-filter-user>
          <UserSelection
            @user={{this.selectedSupervisor}}
            @onChange={{perform this.setModelFilter "supervisor"}}
            @queryOptions={{hash is_supervisor=1 active=1}}
            as |u|
          >
            <u.user @placeholder="Select supervisor..." />
          </UserSelection>
        </fs.filter>
      </fs.label>
    {{/if}}
    <fs.label>
      Active
      <fs.filter
        @type="button"
        data-test-filter-active="true"
        @selected={{this.active}}
        @valuePath="value"
        @labelPath="label"
        @options={{array
          (hash value="" label="All")
          (hash value="1" label="Active")
          (hash value="0" label="Inactive")
        }}
        @onChange={{fn (mut this.active)}}
      />
    </fs.label>
  </fs.group>
</FilterSidebar>

<AsyncList @data={{this.fetchData}} as |section data|>
  {{#if (eq section "empty")}}
    <Empty>
        <FaIcon @icon="users" @prefix="fas" />
        <h3>No users to display</h3>
        <p>Maybe try loosening your filters</p>
    </Empty>
  {{else if (eq section "body")}}
    <Table class="table table--striped table--hover">
      <Table::Thead>
        <Table::Tr>
          <Table::Th>Name</Table::Th>
          <Table::Th>Percentage</Table::Th>
          <Table::Th>Worktime per day</Table::Th>
          <Table::Th>Current worktime balance</Table::Th>
        </Table::Tr>
      </Table::Thead>
      <VerticalCollection
        @items={{slice data}}
        @tagName="tbody"
        @estimateHeight={{40}}
        @bufferSize={{10}}
        @containerSelector=".page-content--scroll"
        as |user|
      >
        <Table::Tr
          @striped={{true}}
          role="link"
          {{on "click" (fn this.viewUserProfile user.id)}}
          class="cursor-pointer hover:bg-background-secondary/25 last-of-type:border-b-2 transition-colors"
        >
          <Table::Td
            class={{unless user.isActive "text-danger"}}
          >{{user.fullName}}</Table::Td>
          {{#if user.activeEmployment}}
            <Table::Td>{{user.activeEmployment.percentage}}%</Table::Td>
            <Table::Td>{{format-duration
                user.activeEmployment.worktimePerDay
                false
              }}</Table::Td>
          {{else}}
            <Table::Td class={{unless user.isActive "text-danger"}} colspan="2"><em
              >User has no active employment</em></Table::Td>
          {{/if}}
          <Table::Td>
            <span
              class="worktime-balance
                {{balance-highlight-class user.currentWorktimeBalance.balance}}"
            >
              {{format-duration user.currentWorktimeBalance.balance false}}
            </span>
          </Table::Td>
        </Table::Tr>
      </VerticalCollection>
    </Table>
  {{/if}}
</AsyncList>
