<button
  type="submit"
  data-test-record-stop={{not (not this.active)}}
  data-test-record-start={{not this.active}}
  class="record-button-container h-full btn px-3
    {{if
      this.active
      'record-button-container--recording active grid grid-cols-[auto,minmax(0,1fr)] gap-x-2 place-items-center'
    }}"
  {{on "click" (prevent-default (optional (if this.active @onStop @onStart)))}}
>
  {{#if this.active}}
    <FaIcon @icon="square" @prefix="fas" class="text-danger" />
    <div class="record-button-timer">
      <DurationSince @from={{@activity.from}} />
    </div>
  {{else}}
    <FaIcon
      @icon="play"
      @prefix="fas"
      @transform="right-1"
      class="text-success"
    />
  {{/if}}
</button>