<div
  class="record-button-container bg-adfinis-black/70 p-1.5 grid gap-2 lg:gap-2.5 xl:gap-3 rounded-full place-self-center text-adfinis-green transition-all
    {{if this.active 'record-button-container--recording grid-cols-[auto,minmax(0,1fr)]' 'grid-cols-1'}}"
>
  {{#if this.active}}
    <button
      data-test-record-stop
      type="submit"
      class="record-button record-button--stop bg-white w-6 rounded-full"
      {{on "click" (prevent-default (optional @onStop))}}
    >
      <FaIcon @icon="square" @prefix="fas" />
    </button>
    <div class="record-button-timer">
      <DurationSince @from={{@activity.from}} />
    </div>
  {{else}}
    <button
      data-test-record-start
      type="submit"
      class="record-button record-button--start bg-white w-6 rounded-full"
      {{on "click" (prevent-default (optional @onStart))}}
    >
      <FaIcon @icon="play" @prefix="fas" @transform="right-1" />
    </button>
  {{/if}}
</div>
