<div
  class="filter-sidebar-group
    {{if this.expanded 'expanded filter-sidebar-group--expanded'}}
    group flex flex-col border-t p-2.5"
>
  <button
    type="button"
    class="filter-sidebar-group-label hover:text-foreground group-[.expanded]:text-foreground text-foreground-muted flex items-center justify-between text-xl transition-colors"
    {{on "click" (toggle "expanded" this)}}
  >
    {{@label}}
    <FaIcon
      @icon="angle-right"
      @prefix="fas"
      @transform="{{if this.expanded 'rotate-90'}}"
    />
  </button>
  <div
    class="filter-sidebar-group-body max-h-0 overflow-hidden transition-[max-height] group-[.expanded]:max-h-[32rem]"
  >
    <div class="filter-sidebar-group-content py-2 [&>*]:mt-1">
      {{yield}}
    </div>
  </div>
</div>