{{#in-element this.destination}}
  <aside
    class="filter-sidebar min-w-72 max-w-96
      {{if
        this.visible
        'filter-sidebar--visible translate-x-0'
        'translate-x-full'
      }}
      fixed top-[54px] xl:top-[50px] right-0 bottom-0 z-20 flex bg-background transition-transform duration-300 flex flex-col"
    ...attributes
  >
    <div
      class="filter-sidebar-title flex justify-between font-semibold text-lg px-2.5 py-3"
    >
      {{#if @appliedCount}}
        {{@appliedCount}}
        Filter{{if (not-eq @appliedCount 1) "s"}}
        applied
      {{else}}
        Filters
      {{/if}}
      {{#if @onReset}}
        <a
          href="#"
          class="filter-sidebar-reset text-primary font-medium"
          {{on "click" @onReset}}
        >
          Reset
        </a>
      {{/if}}
    </div>

    <div class="filter-sidebar-content overflow-y-auto">
      {{yield
        (hash
          group=(component "filter-sidebar/group")
          label=(component "filter-sidebar/label")
          filter=(component "filter-sidebar/filter")
        )
      }}
    </div>

    <button
      title="{{if this.visible 'Hide' 'Show'}} filters"
      class="filter-sidebar-toggle [&>*]:h-12 [&>*]:absolute [&>*]:grid [&>*]:place-items-center [&>*]:top-2 [&>*]:right-0 absolute group left-0 top-4 -translate-x-full w-[6.5rem] h-16 py-2 text-foreground-primary overflow-hidden"
      type="button"
      {{on "click" (toggle "visible" this)}}
    >
      <span
        class="filter-sidebar-toggle-background w-full bg-primary shadow-sm translate-x-14 transition-transform group-hover:translate-x-0 duration-300 rounded-l"
      ></span>
      <span class="filter-sidebar-toggle-icon w-12">
        <FaIcon @icon="sliders" @prefix="fas" />
        {{#if @appliedCount}}
          <span
            class="filter-sidebar-toggle-icon-badge bg-success text-foreground-primary absolute top-2 right-2 text-xs font-mono py-0.5 px-1 rounded-[50%] shadow-sm duration-300"
          >{{@appliedCount}}</span>
        {{/if}}
      </span>
      <span
        class="filter-sidebar-toggle-text right-auto opacity-0 w-12 left-3 transition-[transform,opacity] duration-300 translate-x-14 group-hover:translate-x-0 group-hover:opacity-100"
      >Filters</span>
    </button>
  </aside>
  <div
    class="filter-sidebar-overlay opacity-0 z-10 fixed transition-all duration-300
      {{if
        this.visible
        'filter-sidebar-overlay--visible pointer-events-all opacity-100 inset-0 top-12 bg-tertiary-dark/20'
      }}"
    {{! template-lint-disable}}
    {{on "click" (fn (mut this.visible) false)}}
  ></div>
{{/in-element}}