<div class="flex h-full flex-row justify-between" ...attributes>
  <div><MagicLinkBtn class="h-full" /></div>
  <div class="btn-group mx-6 flex h-full flex-row">
    <button
      type="button"
      data-test-previous
      title="Previous day"
      class="btn btn-default h-full"
      {{on "click" this.setPrevious}}
    >
      <FaIcon @icon="arrow-left" @prefix="fas" />
    </button>
    <button
      type="button"
      data-test-today
      title="Today"
      class="btn btn-default"
      {{on "click" this.setToday}}
    >
      Today
    </button>
    <button
      type="button"
      data-test-next
      title="Next day"
      class="btn btn-default h-full"
      {{on "click" this.setNext}}
    >
      <FaIcon @icon="arrow-right" @prefix="fas" />
    </button>
  </div>

  <DatepickerButton
    class="h-full"
    @value={{@current}}
    @onChange={{@onChange}}
  />
</div>