<div class="absolute inset-0 flex items-center">
  {{#if @showLabel}}
    <span
      class="absolute -left-8 right-0 w-6 translate-y-1/2 text-center text-xs
        {{unless @expected 'text-foreground-muted'}}"
      {{style this.style}}
    >{{@hours}}h</span>
  {{/if}}
  <hr
    {{style this.style}}
    class="absolute left-0 right-0 m-0 w-full border-none p-0
      {{if @expected 'bg-tertiary/60 h-[1.5px]' 'bg-primary/30 h-px'}}"
  />
</div>