<div
  class="statistic-list-bar-wrapper relative h-5 [&>*]:absolute [&>*]:h-5 [&>*]:w-full [&>*]:overflow-hidden [&>*]:before:block [&>*]:before:h-full [&>*]:before:w-full [&>*]:before:-translate-x-[calc((1-var(--value))*100%)]"
>
  <div
    ...attributes
    class="statistic-list-bar
      {{this.spentEffortsBarColor}}
      z-10 before:rounded-r"
    {{style --value=(concat @value)}}
  ></div>
  {{#if (and @remaining (lte @remaining 1))}}
    <div
      ...attributes
      class="statistic-list-bar remaining before:rounded-r
        {{if (gt @remaining @goal) 'before:bg-danger' 'before:bg-success'}}"
      {{style --value=(concat @remaining)}}
    ></div>
  {{/if}}
  {{#if @goal}}
    <div
      ...attributes
      class="statistic-list-bar-goal before:border-danger before:border-r-2 before:border-dotted"
      {{style --value=(concat (min "0.99" @goal))}}
    ></div>
  {{/if}}
</div>