<PagePermission>
  <h1 class="mb-2">Projects</h1>
  {{#if this.loading}}
    <Empty>
      <LoadingIcon />
    </Empty>
  {{else}}
    <div class="mb-2 grid gap-2 pb-2 sm:grid-cols-2">
      <PowerSelect
        data-test-customer-selection
        class="rounded [&_.ember-power-select-selected-item_svg]:!hidden"
        @tagName="div"
        @options={{this.customers}}
        @placeholder="Select customer..."
        @searchEnabled={{true}}
        @searchField="name"
        @onChange={{this.handleCustomerChange}}
        @selected={{this.selectedCustomer}}
        @allowClear={{true}}
        as |customer|
      >
        <OptimizedPowerSelect::CustomOptions::CustomerOption
          @option={{customer}}
        />
      </PowerSelect>
      <PowerSelect
        data-test-project-selection
        class="rounded [&_.ember-power-select-selected-item_svg]:!hidden"
        @tagName="div"
        @options={{this.filteredProjects}}
        @placeholder="Select project..."
        @searchEnabled={{true}}
        @searchField="name"
        @onChange={{this.handleProjectChange}}
        @selected={{this.selectedProject}}
        @allowClear={{true}}
        @disabled={{not this.selectedCustomer}}
        as |project|
      >
        <OptimizedPowerSelect::CustomOptions::ProjectOption
          @option={{project}}
        />
      </PowerSelect>
    </div>
    {{#if this.selectedProject}}
      {{#let
        this.selectedProject.remainingEffortTracking
        as |remainingEffortTracking|
      }}
        <h2 class="text-primary mb-2">
          {{this.selectedProject.name}}
        </h2>
        <ValidatedForm
          @model={{changeset this.selectedProject this.projectValidations}}
          @on-submit={{perform this.saveProject}}
          as |f|
        >
          <f.input @name="remainingEffortTracking" as |fi|>
            <Checkbox
              data-test-remaing-effort-tracking
              @checked={{remainingEffortTracking}}
              @value={{fi.value}}
              @onChange={{fi.update}}
            >Remaining Effort Tracking</Checkbox>
          </f.input>
          {{#if
            (and
              remainingEffortTracking this.selectedProject.totalRemainingEffort
            )
          }}
            Total remaing effort:
            {{humanize-duration this.selectedProject.totalRemainingEffort}}
          {{/if}}

          <div class="grid place-items-end">
            {{#each f.model.errors as |error|}}
              <div class="text-warning" title={{error.validation}}>
                <FaIcon @icon="exclamation-triangle" @prefix="fas" />
              </div>
            {{/each}}

            <f.submit
              data-test-project-save
              @disabled={{f.model.isInvalid}}
              @triggerValidations={{true}}
            >Update
            </f.submit>
          </div>
        </ValidatedForm>

        <hr class="my-2" />
        <div class="flex justify-between">
          <h3 class="text-primary">
            Tasks
          </h3>
          <span class="header-right">
            <button
              class="btn btn-primary"
              data-test-add-task
              type="button"
              {{on "click" (perform this.createTask)}}
            >Add Task</button>
          </span>
        </div>
        <Checkbox
          data-test-show-archived
          @checked={{this.hideArchivedTasks}}
          @value={{this.hideArchivedTasks}}
          @onChange={{fn (mut this.hideArchivedTasks)}}
        >Hide Archived Tasks</Checkbox>
        <Table class="table-fixed">
          <Table::Thead>
            <Table::Tr>
              <Table::Th>Name</Table::Th>
              <Table::Th>Reference</Table::Th>
              <Table::Th>Estimated time</Table::Th>
              {{#if remainingEffortTracking}}
                <Table::Th>Remaining effort</Table::Th>
              {{/if}}
              <Table::Th>Archived</Table::Th>
            </Table::Tr>
          </Table::Thead>
        </Table>
        <ScrollContainer class="mb-2 border-b-2">
          <Table
            class="table--striped table--projects table table-fixed"
            data-test-tasks-table
          >
            <colgroup>
              <col class="title" />
              <col class="reference" />
              <col class="duration" />
              {{#if remainingEffortTracking}}
                <col class="duration" />
              {{/if}}
              <col class="archived" />
            </colgroup>
            <tbody>
              {{#each this.tasks as |task|}}
                {{#unless (and this.hideArchivedTasks task.archived)}}
                  <Table::Tr
                    @striped={{not (eq this.selectedTask task)}}
                    class="cursor-pointer
                      {{if
                        (eq this.selectedTask task)
                        'bg-primary text-foreground-primary'
                        'hover:bg-background-secondary/25'
                      }}
                      "
                    {{! template-lint-disable }}
                    {{on "click" (fn (mut this.selectedTask) task)}}
                    data-test-task-table-row
                  >
                    <Table::Td data-test-table-name>{{task.name}}</Table::Td>
                    <Table::Td data-test-table-reference>{{if
                        task.reference
                        task.reference
                        "-"
                      }}</Table::Td>
                    <Table::Td data-test-table-estimated-time>{{if
                        task.estimatedTime
                        (humanize-duration task.estimatedTime)
                        "-"
                      }}</Table::Td>

                    {{#if remainingEffortTracking}}
                      <Table::Td
                        data-test-table-most-recent-remaining-effort
                      >{{if
                          task.mostRecentRemainingEffort
                          (humanize-duration task.mostRecentRemainingEffort)
                          "-"
                        }}</Table::Td>
                    {{/if}}
                    <Table::Td><Checkmark
                        data-test-table-archived
                        @checked={{task.archived}}
                      /></Table::Td>
                  </Table::Tr>
                {{/unless}}
              {{/each}}
            </tbody>
          </Table>
        </ScrollContainer>
        {{#if this.selectedTask}}
          <div class="task-form-container" data-test-task-form>
            <h3 class="text-primary">{{if
                this.selectedTask.isNew
                "Add task"
                this.selectedTask.name
              }}</h3>
            <ValidatedForm
              class="grid grid-cols-2 gap-2"
              @model={{changeset this.selectedTask this.taskValidations}}
              @on-submit={{perform this.saveTask}}
              as |f|
            >
              <f.input
                @label="Name"
                @name="name"
                class="rounded"
                data-test-name
                @required={{true}}
                @disabled={{this.selectedProject.archived}}
              />

              <f.input @labelComponent="void" @name="estimatedTime" as |fi|>
                <div class="form-group">
                  <label>
                    Estimated time
                  </label>
                  <Durationpicker
                    data-test-estimated-time={{true}}
                    @value={{fi.value}}
                    @disabled={{this.selectedProject.archived}}
                    @onChange={{if
                      remainingEffortTracking
                      (queue fi.update (fn this.updateRemainingEffort f.model))
                      fi.update
                    }}
                  />
                </div>
              </f.input>

              <f.input
                @label="Reference"
                @name="reference"
                class="rounded"
                data-test-reference
                @required={{false}}
                @disabled={{this.selectedProject.archived}}
              />

              {{#if remainingEffortTracking}}
                <f.input
                  @name="mostRecentRemainingEffort"
                  @labelComponent="void"
                  as |fi|
                >
                  <div class="form-group">
                    <label>
                      Remaining effort
                    </label>
                    <Durationpicker
                      class="remaining-effort"
                      data-test-remaining-effort={{true}}
                      @value={{fi.value}}
                      @min={{0}}
                      @onChange={{fi.update}}
                      @disabled={{this.selectedProject.archived}}
                    />
                  </div>
                </f.input>
              {{/if}}

              <f.input @name="archived" @labelComponent="void" as |fi|>
                <Checkbox
                  class="justify-content-start flex flex-col-reverse [&>input]:my-auto"
                  @label="Archived"
                  data-test-archived
                  @checked={{this.selectedTask.archived}}
                  @value={{fi.value}}
                  @onChange={{fi.update}}
                  @disabled={{this.selectedProject.archived}}
                />
              </f.input>

              <div class="col-span-2 flex justify-between">
                <button
                  class="btn btn-default"
                  data-test-cancel
                  type="button"
                  {{on "click" (fn (mut this.selectedTask) null)}}
                >Cancel</button>
                <f.submit
                  data-test-save
                  title={{if
                    this.selectedProject.archived
                    "You can not update or add tasks to an archived project"
                  }}
                  @disabled={{or
                    f.model.isInvalid
                    this.selectedProject.archived
                  }}
                />
              </div>
            </ValidatedForm>
          </div>
        {{/if}}
      {{/let}}
    {{else}}
      <Empty data-test-none-selected>
        <FaIcon @icon="magnifying-glass" @prefix="fas" />
        <h3>Please select a customer and a project</h3>
      </Empty>
    {{/if}}
  {{/if}}
</PagePermission>