<div class="attendance-slider pt-4 relative" ...attributes>
  <RangeSlider
    @start={{this.start}}
    @step={{15}}
    @min={{0}}
    @max={{1440}}
    @connect={{true}}
    @animate={{true}}
    @behaviour="drag"
    @tooltips={{this.tooltips}}
    @on-slide={{fn (mut this.values)}}
    @on-change={{perform this.save}}
  />

  <div class="slider-labels relative h-12 text-black/85">
    {{#each this.labels as |label|}}
      <div
        style={{label.style}}
        class="slider-label
          {{label.size}}
          flex absolute top-4 -translate-x-3/4 text-3xs"
      >
        <div class="slider-label-text -rotate-45">
          {{label.value}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="slider-title absolute top-0 left-0 text-xs text-black">
    <span>{{this.duration}}</span>
    <FaIcon
      @icon="trash-can"
      class="cursor-pointer"
      data-test-delete-attendance="true"
      {{on "click" (perform this.delete)}}
    />
  </div>
</div>