{{#if (not (media "isMd"))}}
  <NoMobileMessage />
{{else}}
  <PagePermission>
    <h1 class="mb-6">Analysis</h1>

    {{#unless this.prefetchData.isRunning}}
      <TaskSelection
        @history={{false}}
        @archived={{true}}
        @on-set-customer={{fn this.setModelFilter "customer"}}
        @on-set-project={{fn this.setModelFilter "project"}}
        @on-set-task={{fn this.setModelFilter "task"}}
        @initial={{hash
          customer=this.selectedCustomer
          project=this.selectedProject
          task=this.selectedTask
          comment=this.comment
        }}
        as |t|
      >
        <FilterSidebar
          @appliedCount={{this.appliedFilters.length}}
          @onReset={{queue t.clear this.reset}}
          class="max-sm:hidden"
          as |fs|
        >
          <fs.group @label="Task" @expanded={{true}}>
            <fs.filter @label="Customer" data-test-filter-customer>
              <t.customer />
            </fs.filter>
            <fs.filter @label="Project" data-test-filter-project>
              <t.project />
            </fs.filter>
            <fs.filter @label="Task" data-test-filter-task>
              <t.task />
            </fs.filter>
            <fs.filter @label="Comment" data-test-filter-comment>
              {{#let (unique-id) as |id|}}
                <label for={{id}} hidden>comment</label>
                <input
                  id={{id}}
                  value={{this.comment}}
                  {{on "change" (fn this.setModelFilterOnChange "comment")}}
                  class="form-control comment-field rounded"
                  placeholder="Comment"
                  name="comment"
                  type="text"
                />
              {{/let}}
            </fs.filter>
          </fs.group>
          <fs.group @label="Responsibility">
            <fs.filter @label="User" data-test-filter-user>
              <UserSelection
                @user={{this.selectedUser}}
                @onChange={{fn this.setModelFilter "user"}}
                as |u|
              >
                <u.user />
              </UserSelection>
            </fs.filter>

            <fs.filter @label="Reviewer" data-test-filter-reviewer>
              <UserSelection
                @user={{this.selectedReviewer}}
                @onChange={{fn this.setModelFilter "reviewer"}}
                @queryOptions={{hash is_reviewer=1}}
                as |u|
              >
                <u.user @placeholder="Select reviewer..." />
              </UserSelection>
            </fs.filter>
          </fs.group>
          <fs.group @label="Finances">
            <fs.filter
              data-test-filter-billing-type
              @label="Billing type"
              @type="select"
              @selected={{this.billingType}}
              @valuePath="id"
              @labelPath="name"
              @prompt="All billing types"
              @options={{this.billingTypes}}
              @onChange={{fn (mut this.billingType)}}
            />
            <fs.filter
              data-test-filter-cost-center
              @label="Cost center"
              @type="select"
              @selected={{this.costCenter}}
              @valuePath="id"
              @labelPath="name"
              @prompt="All cost centers"
              @options={{this.costCenters}}
              @onChange={{fn (mut this.costCenter)}}
            />
          </fs.group>
          <fs.group @label="Time range">
            <fs.filter
              data-test-filter-from-date
              @label="From"
              @type="date"
              @selected={{if this.fromDate (moment this.fromDate)}}
              @onChange={{fn this.updateParam "fromDate"}}
            />
            <fs.filter
              data-test-filter-to-date
              @label="To"
              @type="date"
              @selected={{if this.toDate (moment this.toDate)}}
              @onChange={{fn this.updateParam "toDate"}}
            />
            <DateButtons
              class="mt-3"
              @onUpdateFromDate={{fn this.updateParam "fromDate"}}
              @onUpdateToDate={{fn this.updateParam "toDate"}}
            />
          </fs.group>
          <fs.group @label="State">
            <fs.filter
              data-test-filter-review
              @label="Review"
              @type="button"
              @selected={{this.review}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Needed" value="1")
                (hash label="Not needed" value="0")
              }}
              @onChange={{fn this.updateParam "review"}}
            />
            <fs.filter
              data-test-filter-not-billable
              @type="button"
              @label="Billability"
              @selected={{this.notBillable}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Billable" value="0")
                (hash label="Not billable" value="1")
              }}
              @onChange={{fn this.updateParam "notBillable"}}
            />
            <fs.filter
              data-test-filter-verified
              @type="button"
              @label="Verified"
              @selected={{this.verified}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Verified" value="1")
                (hash label="Not verified" value="0")
              }}
              @onChange={{fn this.updateParam "verified"}}
            />
            <fs.filter
              data-test-filter-billed
              @label="Billed"
              @type="button"
              @selected={{this.billed}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Billed" value="1")
                (hash label="Not Billed" value="0")
              }}
              @onChange={{fn this.updateParam "billed"}}
            />
            <fs.filter
              data-test-filter-editable
              @label="Editable"
              @type="button"
              @selected={{this.editable}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Editable" value="1")
              }}
              @onChange={{fn this.updateParam "editable"}}
            />
            <fs.filter
              data-test-filter-rejected
              @type="button"
              @label="Rejected"
              @selected={{this.rejected}}
              @valuePath="value"
              @labelPath="label"
              @options={{array
                (hash label="All" value="")
                (hash label="Rejected" value="1")
                (hash label="Not rejected" value="0")
              }}
              @onChange={{fn this.updateParam "rejected"}}
            />

          </fs.group>
        </FilterSidebar>
      </TaskSelection>
    {{/unless}}

    {{#if this.appliedFilters.length}}
      {{#if (and (not this._dataCache.length) this.data.isRunning)}}
        <Empty>
          <LoadingIcon />
        </Empty>
      {{else}}
        {{#if this.data.lastSuccessful.value.length}}
          {{#let this.data.lastSuccessful.value as |reports|}}
            <div class="flex justify-end gap-x-2">
              {{#if this.selectedReportIds.length}}
                <button
                  data-test-edit-selected
                  type="button"
                  class="btn btn-success"
                  {{on "click" (fn this.edit this.selectedReportIds)}}
                >
                  Edit
                  {{this.selectedReportIds.length}}
                  selected report{{if
                    (not-eq this.selectedReportIds.length 1)
                    "s"
                  }}
                </button>
              {{/if}}
              <button
                data-test-edit-all
                type="button"
                class="btn btn-default"
                title={{unless
                  this.editable
                  'Please enable the "editable" filter to modify all entries at once.'
                }}
                disabled={{unless this.editable "true"}}
                {{on "click" this.edit}}
              >
                Edit all
              </button>
            </div>

            {{! template-lint-disable table-groups }}
            <Table class="table--striped table--analysis table">
              <colgroup>
                <col class="w-[7%]" />
                <col class="w-[7%]" />
                <col class="w-[7%]" />
                <col class="w-[10%]" />
                <col class="w-[10%]" />
                <col class="w-[10%]" />
                <col class="w-[21%]" />
                <col class="w-[8%]" />
                <col class="w-[5%]" />
                <col class="w-[5%]" />
                <col class="w-[5%]" />
                <col class="w-[5%]" />
              </colgroup>
              <Table::Thead>
                <Table::Tr>
                  <SortHeader
                    @update={{fn this.updateParam "ordering"}}
                    @current={{this.ordering}}
                    @by="user__username"
                  >User</SortHeader>
                  <SortHeader
                    @update={{fn this.updateParam "ordering"}}
                    @current={{this.ordering}}
                    @by="date"
                  >Date</SortHeader>
                  <SortHeader
                    @update={{fn this.updateParam "ordering"}}
                    @current={{this.ordering}}
                    @by="duration"
                  >Duration</SortHeader>
                  <SortHeader
                    @update={{fn this.updateParam "ordering"}}
                    @current={{this.ordering}}
                    @by="task__project__customer__name"
                  >Customer</SortHeader>
                  <SortHeader
                    @update={{fn this.updateParam "ordering"}}
                    @current={{this.ordering}}
                    @by="task__project__name"
                  >Project</SortHeader>
                  <SortHeader
                    @update={{fn this.updateParam "ordering"}}
                    @current={{this.ordering}}
                    @by="task__name"
                  >Task</SortHeader>
                  <SortHeader
                    @update={{fn this.updateParam "ordering"}}
                    @current={{this.ordering}}
                    @by="comment"
                  >Comment</SortHeader>
                  <SortHeader
                    @update={{fn this.updateParam "ordering"}}
                    @current={{this.ordering}}
                    @by="verified_by__username"
                  >Verified by</SortHeader>
                  <Table::Th @light={{true}}>Rejected</Table::Th>
                  <Table::Th @light={{true}}>Review</Table::Th>
                  <Table::Th @light={{true}}>Not billable</Table::Th>
                  <Table::Th @light={{true}}>Billed</Table::Th>
                </Table::Tr>
              </Table::Thead>
            </Table>
            <ScrollContainer class="analysis-scrollable-container">
              <Table class="table--striped table--analysis table table-fixed">
                <colgroup>
                  <col class="w-[7%]" />
                  <col class="w-[7%]" />
                  <col class="w-[7%]" />
                  <col class="w-[10%]" />
                  <col class="w-[10%]" />
                  <col class="w-[10%]" />
                  <col class="w-[21%]" />
                  <col class="w-[8%]" />
                  <col class="w-[5%]" />
                  <col class="w-[5%]" />
                  <col class="w-[5%]" />
                  <col class="w-[5%]" />
                </colgroup>
                <tbody>
                  {{#each reports as |report|}}
                    {{! template-lint-disable}}
                    <CanEdit @report={{report}} as |canEdit|>
                      <Table::Tr
                        class="{{if
                            (includes report.id this.selectedReportIds)
                            'selected bg-primary text-foreground-primary'
                            'striped'
                          }}
                          {{if
                            (or this.isAccountant canEdit)
                            'text-foreground-accent cursor-pointer'
                          }}
                          shadow-foreground/5 align-top shadow transition-colors"
                        {{on
                          "click"
                          (if
                            (or this.isAccountant canEdit)
                            (fn this.selectRow report)
                            (noop)
                          )
                        }}
                      >
                        <Table::Td>{{report.user.username}}</Table::Td>
                        <Table::Td>{{moment-format
                            report.date
                            "DD.MM.YYYY"
                          }}</Table::Td>
                        <Table::Td>{{format-duration
                            report.duration
                            false
                          }}</Table::Td>
                        <Table::Td
                        >{{report.task.project.customer.name}}</Table::Td>
                        <Table::Td>{{report.task.project.name}}</Table::Td>
                        <Table::Td>{{report.task.name}}</Table::Td>
                        <Table::Td><span
                            title="{{report.comment}}"
                          >{{report.comment}}</span></Table::Td>
                        <Table::Td>{{if
                            report.verifiedBy
                            report.verifiedBy.username
                          }}</Table::Td>
                        <Table::Td><Checkmark
                            @checked={{report.rejected}}
                            @highlight={{true}}
                          /></Table::Td>
                        <Table::Td><Checkmark
                            @checked={{report.review}}
                            @highlight={{true}}
                          /></Table::Td>
                        <Table::Td><Checkmark
                            @checked={{report.notBillable}}
                            @highlight={{true}}
                          /></Table::Td>
                        <Table::Td><Checkmark
                            @checked={{report.billed}}
                            @highlight={{true}}
                          /></Table::Td>
                      </Table::Tr>
                    </CanEdit>
                  {{/each}}
                  {{#if this._canLoadMore}}
                    <tr
                      {{in-viewport
                        onEnter=(perform this.loadNext)
                        onExit=(fn (mut this._shouldLoadMore) false)
                        viewportSpy=true
                      }}
                    >
                      <td colspan="12" class="text-center">
                        Loading<span class="loading-dots"><i>.</i><i>.</i><i
                          >.</i></span>
                      </td>
                    </tr>
                  {{/if}}
                </tbody>
              </Table>
            </ScrollContainer>
            <Table class="table--striped table--analysis table table-fixed">
              <colgroup>
                <col class="w-[7%]" />
                <col class="w-[7%]" />
                <col class="w-[7%]" />
                <col class="w-[10%]" />
                <col class="w-[10%]" />
                <col class="w-[10%]" />
                <col class="w-[21%]" />
                <col class="w-[8%]" />
                <col class="w-[5%]" />
                <col class="w-[5%]" />
                <col class="w-[5%]" />
                <col class="w-[5%]" />
              </colgroup>
              <Table::Tfoot>
                <Table::Tr>
                  <Table::Td colspan="2">Total:</Table::Td>

                  <Table::Td colspan="2"><strong class="total">{{format-duration
                        this.totalTime
                        false
                      }}</strong></Table::Td><Table::Td
                    colspan="8"
                    class="text-right"
                  >
                    <em>Displaying
                      {{reports.length}}
                      of
                      {{this.totalItems}}
                      reports</em>

                  </Table::Td>
                </Table::Tr>
              </Table::Tfoot>
            </Table>
            <div class="export-buttons mt-4 flex justify-end gap-x-2">
              {{#each this.exportLinks as |link|}}
                <button
                  {{on "click" (fn (perform this.download) link)}}
                  type="button"
                  data-download-count="{{this.download.performCount}}"
                  class="btn btn-primary
                    {{if
                      (and
                        (eq this.download.last.url link.url)
                        (eq this.download.last.params link.params)
                        this.download.isRunning
                      )
                      'loading'
                    }}"
                  disabled={{this.exportLimitExceeded}}
                  title={{if this.exportLimitExceeded this.exportLimitMessage}}
                >
                  <FaIcon @icon="download" @prefix="fas" />&nbsp;{{link.label}}
                </button>
              {{/each}}
            </div>
          {{/let}}
        {{else}}
          <Empty data-test-widen-filters>
            <FaIcon @icon="magnifying-glass" @prefix="fas" />
            <h3>0 Results</h3>
            <p>Maybe widen your filters</p>
          </Empty>
        {{/if}}
      {{/if}}
    {{else}}
      <Empty data-test-apply-filters>
        <FaIcon @icon="magnifying-glass" @prefix="fas" />
        <h3>Apply filters to display reports</h3>
      </Empty>
    {{/if}}
  </PagePermission>
{{/if}}